<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% 
    //  class A {
    //     constructor(){
    //       // this.koukou = lola;
    //       // return(lola);
    //        return(new String('AAA'));
    //     }
    // } 
    %>

    <%= //JSON.stringify(new A(new Number(105))) %>
    <%= // JSON.stringify(new A(100)) %>

    
    <% 
    // function addTwoNums(x,y) {return(x+y);}
    // class AddTwoNums {
    //   constructor (x,y){
    //     this.countX = x
    //     this.countY = y
    //     // return(new Object(x+y));
    //   }
    // }
    %>
    <%= // addTwoNums(1,2); %> <br/>
    <%= // JSON.stringify(new AddTwoNums(1,2)) %>
    <%= // typeof(new AddTwoNums(1,2)) %> <br/>
    <% // var myadd = new AddTwoNums(1,2) %>
    <!-- countX: <%= // myadd.countX %> -->

  
  </body>
</html>
